<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.justcheesy.osax</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a scripting addition (OSAX) bundle.</string>
	<key>SortOrder</key>
	<integer>0</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.bundleTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>DSTROOT</key>
				<string>/</string>
				<key>DEPLOYMENT_LOCATION</key>
				<string>YES</string>
				<key>INSTALL_PATH</key>
				<string>$(USER_LIBRARY_DIR)/ScriptingAdditions</string>
				<key>SKIP_INSTALL</key>
				<string>NO</string>
				<key>WRAPPER_EXTENSION</key>
				<string>osax</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>sdp -fa &quot;${SRCROOT}/${TARGET_NAME}/${TARGET_NAME}.sdef&quot; -o &quot;${SRCROOT}/${TARGET_NAME}/${TARGET_NAME}.r&quot;</string>
					<key>Name</key>
					<string>Convert sdef to &apos;aete&apos; Resource</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Rez</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>CoreServices</string>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array/>
	<key>Nodes</key>
	<array>
		<string>Info.plist</string>
		<string>main.h</string>
		<string>main.c</string>
		<string>___PACKAGENAME___.sdef</string>
		<string>___PACKAGENAME___.r</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Data</string>
			<key>Path</key>
			<string>Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.h</key>
		<dict>
			<key>Group</key>
			<string>Source</string>
			<key>Path</key>
			<string>main.h</string>
		</dict>
		<key>main.c</key>
		<dict>
			<key>Group</key>
			<string>Source</string>
			<key>Path</key>
			<string>main.c</string>
		</dict>
		<key>___PACKAGENAME___.sdef</key>
		<dict>
			<key>Group</key>
			<string>Data</string>
			<key>Path</key>
			<string>___PACKAGENAME___.sdef</string>
		</dict>
		<key>___PACKAGENAME___.r</key>
		<dict>
			<key>Group</key>
			<string>Data</string>
			<key>Path</key>
			<string>___PACKAGENAME___.r</string>
		</dict>
	</dict>
</dict>
</plist>
